/*Generics*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
}

.container {
  width: 100vw;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.debug {
  border: 2px dashed red;
}

.between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

.text-big {
  margin: 0 auto;
  font-size: 80px;
  font-weight: bold;
  padding: 30px 0;
}

.text-medium {
  margin: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

.text-small {
  margin: 30px 0;
  font-size: 25px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*Section*/

header {
  height: 10vh;
}

.large {
  width: 85vw;
  margin: 0 auto;
  height: 100%;
}

.medium {
  width: 70vw;
  margin: 0 auto;
  height: 100%;
}

footer {
  background-color: black;
  height: 300px;
  color: white;
}

/*close section*/

/*header */

.nav_menu {
  align-items: center;
  line-height: 34px;
  list-style: none;
}

.nav_menu li {
  padding: 0 18px;
}

.nav_menu li a {
  text-decoration: none;
  color: black;
}

.nav_menu li a:hover {
  background-color: #f2eee8;
  height: 10vh;
}

.nav_menu input {
  background-color: #0061ff;
  padding: 5px 12px;
  color: white;
}

.nav_menu input:hover {
  opacity: 0.8;
}

/* close header */

/*jumbotron*/

.jumbotron {
  background-color: #b4d0e7;
  height: 600px;
}

.text-jumbo {
  margin: 30px auto;
  font-size: 80px;
  font-weight: bold;
}

.box-jumbo {
  width: 100%;
  height: 30vh;
}

.box-jumbo input {
  background-color: #0061ff;
  padding: 7px 12px;
  color: white;
  border: none;
  margin-top: 30px;
}

.box-jumbo input:hover {
  opacity: 0.8;
}

.jumbo-sx {
  width: 35%;
}

.jumbo-dx {
  width: 65%;
  background-color: lightcoral;
}

/* close jumbotron*/

/*business plan*/

.cards {
  margin: 20px;
  width: calc(100% / 3 - 40px);
  background-color: lightgreen;
  border: 1px lightgray solid;
  height: 600px;
}

.cards .business-img {
  width: 100%;
}

/*close business plan*/

/*enterprise*/

/*partner*/

.box-partner {
  width: 100%;
  height: 50vh;
}

.partner-sx {
  width: 60%;
  background-color: lightcoral;
}

.partner-dx {
  width: 40%;
  background-color: aqua;
}

/*close partner*/

/*open business*/

.box-business {
  width: 100%;
  height: 50vh;
}

.partner-sx {
  width: 60%;
  background-color: lightcoral;
}

.partner-dx {
  width: 40%;
  background-color: aqua;
}

/*close box-business*/

/*open box designit*/

.jumbotron {
  background-color: #b4d0e7;
  height: 500px;
}

.designit {
  width: calc(100% / 3);
}

.designit-box {
  width: calc(100% / 2);
  background-color: greenyellow;
  height: 200px;
}

.designit-box img {
  align-items: center;
  width: 50%;
  margin: 0 auto;
  height: auto;
}

/*close box designit*/

/*open free-trial*/

.free {
  background-color: #b4d0e7;
  height: 200px;
}

.free-trial {
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

/*close free-trial*/

/*open footer*/

.footer-menu {
  align-items: center;
  margin: 0 auto;
}

.footer-menu li {
  list-style: none;
  justify-content: center;
}

.footer-menu a {
  color: white;
}
