/*Generics*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.debug {
  border: 2px dashed red;
}

.between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

/*Section*/

header {
  background-color: #0023db;
  height: 95px;
}

.large {
  width: 1200px;
  margin: 0 auto;
  background-color: forestgreen;
  height: 100%;
}

.medium {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}

/*close section*/

/*jumbotron*/

.jumbotron {
  background-color: #b4d0e7;
  height: 500px;
}

.text-jumbo {
  margin: 30px auto;
  font-size: 80px;
  font-weight: bold;
}

.box-jumbo {
  width: 100%;
  height: 30vh;
}

.jumbo-sx {
  width: 40%;
  background-color: aqua;
}

.jumbo-dx {
  width: 60%;
  background-color: lightcoral;
}

/* close jumbotron*/

/*business plan*/

.text-medium {
  margin: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

.cards {
  margin: 20px;
  width: calc(100% / 3 - 40px);
  background-color: red;
  border: 1px lightgray solid;
  height: 800px;
}

/*close business plan*/

/*enterprice*/

/*partner*/

.box-partner {
  width: 100%;
  height: 30vh;
}

.partner-sx {
  width: 60%;
  background-color: aqua;
}

.partner-dx {
  width: 40%;
  background-color: lightcoral;
}
